<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
<meta charset="UTF-8" />
<title>all the books</title>
<!--  <link rel="stylesheet" href="/css/main.css" /> -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
	integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
	crossorigin="anonymous">
</head>
<body>

	<h1>All Books</h1>
	<a th:href="@{/showNewBookForm}"> Add Book </a>
	<table>

		<thead>
			<tr>
				<th>Title</th>
				<th>Author</th>
				<th>Rating</th>
			</tr>


		</thead>

		<tbody>
			<tr th:each="book : ${listBooks}">
				<td th:text="${book.title}"></td>
				<td th:text="${book.author}"></td>
				<td th:text="${book.rating}"></td>
			</tr>
		</tbody>

	</table>


</body>
</html>